.about {
  @extend %clearfix;
}

.about__left {
  float: left;
  width: 300px;
  text-align: center;
}

.about__photo {
  display: inline-block;
  width: 220px;
  height: 220px;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.about__photo-item {
  display: block;
  max-width: 100%;
  height: auto;
}

.about__right {
  float: right;
  width: 380px;
}

.about__text {
  height: 380px;
  margin-bottom: 50px;
  font-weight: 300;
  color: #414141;
  overflow: auto;
}

.about__text p {
  margin: 0;
  margin-bottom: 5px;
}

.about__download {
  text-align: right;
  margin-bottom: 50px;
}