.footer__left,
.footer__right {
  float: left;
  width: 50%;
}

.footer__left {
  padding-top: 18px;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
  color: #9c9c9c; 
}

.footer__right {
  text-align: right;
}

.social {
  margin-top: 8px;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
}

.social__link {
  display: block;
  width: 33px;
  height: 33px;
  background-image: url("../img/icons/social.png");
  background-repeat: no-repeat;
}

.social__link_fb {
  background-position: 0 0;
}

.social__link_fb:hover {
  background-position: 0 -38px;
}

.social__link_tw {
  background-position: -38px 0;
}

.social__link_tw:hover {
  background-position: -38px -38px;
}

.social__link_vk {
  background-position: -77px 0;
}

.social__link_vk:hover {
  background-position: -77px -38px;
}