@media screen and (max-width: 992px) {
  .container {
    width: 750px;
  }

  .contacts {
    &:hover {
      .contacts-dropdown {
        left: 0;
      }
    }
  }

  .auth {
    width: 353px;

    &__top {
      height: 56px;
      padding-top: 70px;
      padding-bottom: 14px;
    }

    &__avatar {
      top: -50px;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }

    &__name {
      display: inline-block;
      width: 145px;
    }
  }

  .sidebar {
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }

  .content-title {
    margin-bottom: 15px;
  }

  .main-content {
    float: none;
    width: 100%;
    margin-left: 0;
  }

  .nav__list {
    font-size: 0;
    text-align: left;
  }

  .nav__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
  }

  .nav__link {
    padding: 0;
    border: none;
  }

  .about__left {
    width: 30%;
  }

  .about__photo {
    width: 165px;
    height: 165px;
  }

  .about__right {
    width: 70%;
  }

  .about__text {
    height: 477px;
  }

  // Стили портфолио
  .works__item {
    width: 228px;
    margin-bottom: 22px;
  }

  .works__pic-item {
    width: 100%;
  }

  .works__desc {
    padding-bottom: 19px;
  }
}