@media screen and (max-width: 992px) {
  .container {
    width: 750px;
  }

  .sidebar {
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }

  .main-content {
    float: none;
    width: 100%;
    margin-left: 0;
  }

  .nav__list {
    font-size: 0;
    text-align: left;
  }

  .nav__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
  }

  .nav__link {
    padding: 0;
    border: none;
  }

  .about__left {
    width: 35%;
  }

  .about__photo {
    width: 170px;
    height: 170px;
  }

  .about__right {
    width: 65%;
  }

  .about__text {
    height: 477px;
  }

  .about__download {
    margin-bottom: 50px;
  }
}